<!-- home.hbs -->
<div class="wrapper">
    <div class="home">
        <div class=hero-image>
            <img src="/public/img/logo-inventoryOrganizer.png" class="img-fluid" alt="Responsive Hero Image" >
        </div>
        <h1>Inventory Organizer</h1>
        <h3>Keep track of your stock</h3>
        <!-- Use Bootstrap Button -->
        <button type="button" action="/" id="home-btn"class="btn btn-outline-primary">Get Started</button>

        <script type="text/javascript">
            document.getElementById("home-btn").onclick = function () {
                location.href = "/"
            }
        </script>
    </div>
</div>
