<div class="form-style">
    <h1>Login</h1>
    <form method="POST" action="/login">
        <div class="form-group">
                <label for="username">Username:</label><br>
                <input class="form-control" id="username" type="text" name="username" />
        </div>
        <div class="form-group">
                <label for="password">Password:</label><br>
                <input class="form-control" id="password" type="text" name="password" />
        </div>
        <!-- BUTTON -->
        <button type="submit" id="login-btn"class="btn btn-outline-primary">Submit</button>
    </form>
</div>
