<!-- views/products-new.hbs -->
{{> navbar}}
<div class="wrapper form-style" id="add-section">
    <h1>Add Product</h1>
    <form method="POST" action="/products/new">
        <div class="form-group">
                <label for="name">Product:</label><br>
                <input class="form-control" id="name" type="text" name="name" value="{{this.name}}" />
        </div>
        <div class="form-group">
                <label for="quantity">Quantity:</label><br>
                <input class="form-control" id="quantity" type="text" name="quantity" value="{{this.quantity}}"/>
        </div>
        <!-- BUTTON -->
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
