{{> navbar}}
<div class="wrapper-2">
    <!-- Back LINK -->
    <a href="/">Back Home</a>
<div class="products-show">
    <h3>{{product.name}}</h3>
    <div class="quantity-info">
        <h3>Quantity</h3>
        <h4>{{product.quantity}}</h4>
    </div>
    <br><br>
    <hr>

</div>
</div>
