html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: Helvetica;
    -webkit-font-smoothing: subpixel-antialiased;
}

.container {
    padding-right: 0px;
    padding-left: 0px;

}
/********************************************************
Home
********************************************************/
.wrapper {
    padding-right: 12px;
    padding-left: 12px;
    color: #444444;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 109px;
}

div.home h1 {
    /* font-size: 31px;
    padding-left: 35px;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 10px;
    letter-spacing: 1px; */
    padding: 18px;
    padding-top: 27px;
}

div.home h3 {
    /* font-size: 19px;
    font-weight: normal;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px; */
}

#home-btn {

}

.btn-outline-primary {
    padding: 27px 109px;
    margin-top: 96px;
    margin-bottom: 40px;
    color: #A569F8;
    border-color: #A569F8;
    border-width: 8px;
    font-size:20px;
}



@media (min-width: 992px){
    height: calc(99vh - 50px);
    width: 100%;
    background: url('img/truck-kendall-henderson-43316-unsplashResize.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/********************************************************
Auth
********************************************************/
div.auth-page button {
    border-color: #4B9BD5;
    color: #4B9BD5;
}

.btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: #9CF486;
    border-color: #9CF486;
}
/********************************************************
Form
********************************************************/
div.form-group {
    padding-left: 20px;
}

div.form-style h1 {
    margin-top: -20px;
    color: #A569F8;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 20px;
}

div.form-style label {
    float: left;
    padding-top: 27px;
    color: #A569F8;
    font-weight: 500;
    font-size: 25px;
    padding-right: 32px;
    padding-left: 15px;

}

div.form-style input {
    width: 50%;
}

div.form-style button {
    border-color: #A569F8;
    color: #A569F8;
    padding: 5px 24px;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 167px;
}
/********************************************************
Login
********************************************************/
/* div.login .form-group {
    padding-left: 20px;
}

div.login h1 {
    margin-top: -20px;
    color: #4B9BD5;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 20px;
}

div.login label {
    float: left;
    padding-top: 27px;
    color: #4B9BD5;
    font-weight: 500;
    font-size: 25px;
    padding-right: 10px;

}

div.login input {
    width: 50%;
}

div.login button {
    border-color: #4B9BD5;
    color: #4B9BD5;
    padding: 5px 24px;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 167px;
} */
/********************************************************
Signup
********************************************************/
/* div.signup .form-group {
    padding-left: 20px;
}

div.signup h1 {
    margin-top: -20px;
    color: #4B9BD5;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 20px;
}

div.signup label {
    float: left;
    padding-top: 27px;
    color: #4B9BD5;
    font-weight: 500;
    font-size: 25px;
    padding-right: 10px;

}

div.signup input {
    width: 50%;
}

div.signup button {
    border-color: #4B9BD5;
    color: #4B9BD5;
    padding: 5px 24px;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 167px;
} */
/********************************************************
Products-New
********************************************************/
/* div.products-new .form-group {
    padding-left: 20px;
}

div.products-new h1 {
    margin-top: -20px;
    color: #A569F8;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 20px;
}

div.products-new label {
    float: left;
    padding-top: 27px;
    color: #A569F8;
    font-weight: 500;
    font-size: 25px;
    padding-right: 10px;

}

div.products-new input {
    width: 50%;
}

div.products-new button {
    border-color: #A569F8;
    color: #A569F8;
    padding: 5px 24px;
    font-size: 16px;
    margin-top: 26px;
    margin-left: 167px;
} */

/********************************************************
Products-Index
********************************************************/
.products-index {
    margin-top: 35px;
    padding: 38px;
    color: #A569F8;
}

/* .products-index h3 {
    margin-bottom: 20px;
} */

.headers {
    padding-bottom: 65px
}

.product-header {
    float: left;
    text-align: left;
}

.product-names a {
    color: #A569F8;
    text-decoration: underline;
}

.quantities-header {
    float: right;
    text-align: center;
}

.product-display {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.product-names {
    /* padding: 20px;
    margin-left: -40px; */
    float: left;
    text-align: left;
}

.product-quantities {
    float: right;
    text-align: center;
}

#add-btn {
    padding: 0px 16px;
    margin-bottom: 16px;
    border-width: 4px;
    font-size: 36px;
    margin-top: -66px;
    padding-bottom: 2px;
    margin-left: 238px;
}
/********************************************************
Products-Show
********************************************************/
.products-show {
    padding: 38px;
    color: #A569F8;
}

div.wrapper-2 a {
    color: #A569F8;
    padding: 20px;
    position: relative;
    top: 16px;
}

.products-show h3 {
    margin-bottom: 20px;
}

.products-show a {
    color: #A569F8;
    text-decoration: underline;
}

.quantity-info h3 {
    float: left;
}

.quantity-info h4 {
    float: right;
}

div.products-show button {
    color: #A569F8;
    border-color: #A569F8;
    margin-left: 208px;
}

hr {
    border: 1px solid #9CF486;
}

div.products-show #add-btn {
    margin-top: -3px;
}

.supply-names {
    float: left;
    text-align: left;
    margin-left: -19px;
}

.supply-quantities {
    float: right;
    text-align: center;
    margin-right: 40px;
}

#edit-btn {
    margin-top: 29px;
}

.add-supply-form button {
    margin-left: 185px;
}

div.form-group {
    padding-left: 0px;
}
